

.details_div{
    /* width: 50vh;
    height: 50vh; */
}
/* 
.addButtonDiv{
    margin: 30px 0px 10px 0px;
    display: flex;
    justify-content: center;
}
.addButton{
        
    background-color: black;
    color: white;
    width: 70%;
    padding: 5px 0px;
    text-align:center ;
    font-size: larger;
    cursor: pointer;
} */